<!doctype html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="js/main.js"></script>
  <link rel="stylesheet" href="css/styl.css">
</head>
<body>
Zaloguj się do czatu, lub <a href='/register'>zarejerstruj się</a> jeżeli nie masz jeszcze konta.
<form method='post'>
<table>
  <tr>
    <td>Login:</td><td><input type='text' name='username' /></td>
  </tr>
  <tr>
    <td>Hasło:</td><td><input type='password' name='password' /></td>
  </tr>
</table>
<input type='submit' value='Zaloguj' />
</form>
</body>
</html>
