<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
	  <script src="jquery/dist/jquery.min.js"></script>
	  <script src="js/main.js"></script>
	  <link rel="stylesheet" href="css/styl.css">
  </head>
  <body>
   Utwórz konto lub <a href='/login'>zaloguj się</a>:
  	<form method='post'>
   <table>
  <tr>
    <td>Login:</td><td><input type='text' name='username'></td>
  </tr>
  <tr>
    <td>Hasło:</td><td><input type='password' name='pass'></td>
  </tr>
   <tr>
    <td>Powtórz hasło:</td><td><input type='password' name='pass2'></td>
  </tr>
</table>
<input type='submit' value='Zarejerstruj' />
</form>
  </body>
</html>

