body{
	margin: 10px;
}
#chat {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 6px;
	padding-top: 6px;
	margin-bottom: 16px;
	height: 300px;
	width: 80%;
	overflow: auto;
	float: left;
}
#rooms{
	float: right;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 300px;
	width: 19%;
	margin-top: 6px;
	padding-top: 6px;
	margin-bottom: 16px;
	overflow: auto;
}
.room{
	padding: 5px 5px 5px 5px;
	margin: 5px;
	cursor: pointer;
}
#roomGlobal{
	background: #00ccff;
}
.bulb {
	margin-top: 15px;
	font-size: 16px;
	font-family: arial, sans-serif;
}
.bulb img {
	height: 18px;
	vertical-align: bottom;
}